body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #240427;
    z-index: -1;
    background-image: url(javier-miranda-hrmKDnm-kA4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: 200px;
}

.right {
    padding: 20px;
    margin-right: 350px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 60px rgb(178, 27, 77);
}

.right h1 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 80px rgb(178, 27, 77);
}

.left {
    padding: 50px;
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 80px rgb(178, 27, 77);
    color: rgb(178, 27, 77);
}

input[type="file"] {
    margin: 20px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(178, 27, 77);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 23, 65);
}

.loading {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

img {
    max-width: 100%;
    max-height: 1000px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#result h2 {
    margin: 0;
    color: rgb(178, 27, 77);
}

#result p {
    margin: 10px 0 0 0;
    color: #333;
}
